@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.main_cont {
  width: 100%;
  height: 100%;
  @include flexBox(column, center, center);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: white;
  padding: 1rem;
  gap: 1rem;
  .first_div {
    @include flexBox(column, start, center);
    width: 100%;
    gap: 0.5rem;
    & > :nth-child(n) {
      @include semiBoldFont(1.3rem);
      margin-left: 1rem;
    }
    & > :nth-child(2) {
      margin-left: 2rem;
    }
  }
  .second_div {
    & > :nth-child(1) {
      width: 18rem;
      height: 10rem;
      object-fit: cover;
    }
  }
  .link_div {
    @include flexBox(row, center, center);
    width: 100%;
    gap: 7rem;
    cursor: pointer;
    & > :nth-child(1) {
      @include semiBoldFont(1.3rem);
      transition: 0.3s;
    }
  }
}
.link_div:hover .text {
  color: $yellow;
  transition: 0.3s;
}
