@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.logo_div {
  width: 15%;
  @include flexBox(row, center, center);
  gap: 0.5rem;
  img {
    width: 3rem;
    height: 3rem;
    border-radius: 5rem;
    object-fit: cover;
  }
  & > :nth-child(2) {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
