@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.main_cont {
  width: 100%;
  height: 100%;
  @include flexBox(column, center, center);
  padding: 1rem;
  gap: 1rem;
  .first_div {
    @include flexBox(column, start, center);
    width: 100%;
    height: 40%;
    padding: 0 4rem;
    gap: 1.5rem;
    h3 {
      color: $yellow;
      font-size: 1.6rem;
    }
    h1 {
      font-size: 2.4rem;
    }
    p {
      color: $gray;
      @include semiBoldFont(1.2rem);
      width: 95%;
      line-height: 1.3;
      word-spacing: 2px;
    }
  }
  .second_div {
    @include flexBox(column, center, center);
    width: 100%;
    height: 60%;
    padding: 0 2rem;
    gap: 2rem;
    .div_1,
    .div_2,
    .div_3 {
      @include flexBox(row, center, center);
      width: 100%;
      padding: 1rem 0.5rem;
      gap: 0.5rem;
      a {
        border: 0.1px solid $gray;
        @include flexBox(row, center, center);
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        cursor: pointer;
      }
      div {
        @include flexBox(column, start, space-evenly);
        width: 80%;
        height: 100%;
        padding-left: 0.5rem;
        h3 {
          @include semiBoldFont(1.3rem);
        }
        p {
          color: $gray;
        }
      }
    }
  }
}
.copy_div {
  position: relative;
  .copy_icon {
    position: absolute;
    right: 38%;
    font-size: 1.1rem;
    cursor: pointer;
  }
}
