@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";

.main_cont {
  width: 100%;
  height: 100%;
  @include flexBox(row, center, center);
  border-radius: 1rem;
  padding: 1rem;
  gap: 3rem;
  a {
    @include flexBox(row, center, center);
    width: 20%;
    height: 70%;
    border-radius: 3rem;
    gap: 1rem;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    div {
      @include flexBox(row, center, center);
      padding: 1rem;
      border-radius: 50%;
      transition: .5s ease-out;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      .icon {
        font-size: 2.2rem;
      }
    }
    div:hover {
      background-color: $yellow;
      border: .2px solid $yellow;
      transition: .3s ease-in;
    }
    p {
      width: 50%;
      @include semiBoldFont(1.5rem);
      color: $gray;
    }
  }
}
