@import "../styles/mixins.scss";
@import "../styles/colors.scss";
.child_cont {
  width: 100%;
  @include flexBox(column, center, center);
  // background-color: rgb(226, 225, 225);
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  .nav_cont {
    width: 90%;
    @include flexBox(row, center, center);
    position: sticky;
    height: 10rem;
    top: -5%;
  }
  .content_cont {
    width: 91%;
    padding: 1rem;
    border-radius: 2rem;
    @include flexBox(row, center, center);
    height: 65rem;
  }
}
