@import "../styles/mixins.scss";
@import "../styles/colors.scss";
.child_cont {
  width: 100%;
  @include flexBox(column, center, center);
  background: radial-gradient(
    circle at 0% 0.5%,
    rgb(241, 241, 242) 0.1%,
    rgb(224, 226, 228) 100.2%
  );
  .nav_cont {
    width: 90%;
    @include flexBox(row, center, center);
    position: sticky;
    height: 8rem;
    top: -3%;
  }
  .content_cont {
    width: 90%;
    padding: 1rem;
    border-radius: 2rem;
    @include flexBox(row, center, center);
    height: 65rem;
  }
}
